/* MAIN ELEMENTS */

body {
  background-color:white;
  font-size: 15px;
  text-align: left;
  line-height: 24px;
  font-family: 'Lucida Grande', sans-serif;
  font-weight: normal;

}

/* TABLE OF CONTENTS */

#header{
  padding-top:5px;
  padding-left:35px;
  background-color:#white;
  line-height:5px;
  position:relative;
  height:100px;
  font-weight: italic;
}

#content{
  padding-top:0px;
  background-color:#white;
  line-height:5px;
  position:fixed;
}

#content a{
  text-decoration:none;
  color:black;
  -webkit-transition: all 0.4s ease;
     -moz-transition: all 0.4s ease;
       -o-transition: all 0.4s ease;
      -ms-transition: all 0.4s ease;
          transition: all 0.4s ease;
}

/* ARTICLE */

#article{
  padding-top:50px;
  margin-right:25%;
  margin-left:25%;
}
#article p{
  font-size:14px;
}
#article img{
  display:center;
  width:100%;
  height:auto;
  padding:30px 0px 30px 0px;
  text-align:center;
  font-family: 'Lucida Grande', sans-serif;
  font-weight: normal;


  <h3
}

/* BACK TO TOP BUTTON */

.totop{
  position:fixed;
  left:0;
  bottom:0;
  padding:0px 0px 10px 10px;
}
.totop a{
  text-decoration:none;
  color:white;
  font-size:12px;

}