body {
	height: 100%;
	transition: background 1s ease;
	background: white;
	width: 100%;
	font-size: 12pt;
	line-height: 20pt;
	font-family: Cabin;
	letter-spacing: 1px;
	text-align: left;
	overflow-x: hidden; 
}


a {
	text-decoration: none;
}


h1 {
	font-size: 35px;
	letter-spacing: 5.5px;
	color: black;
	line-height: 1.1;
	text-align: center;
	text-indent: 0px;
}


h2 {
	font-size: 18px;
	line-height: 25;
	font-style: normal;
	letter-spacing: 2px;
	color: black;
	line-height: 1.0;
}


h3 {
	font-size: 12.5pt;
	line-height: 20pt;
	letter-spacing: 0.5px;
	text-indent: 0px;
	margin-left: 3.3em; 
	padding right: 50px;
 	text-align: left;
}



h4 {
	font-size: 11px;
	line-height: 16px;
	letter-spacing: 1px;
	color: black;
	line-height: 1.0;
	text-align: left;
	text-indent: 50px;
}



h5 {
	display: inline;
	text-align: right;
	color: red; 
	right: 1px;
	left: 0px;
	color: black;
	font-size: 14px;
	line-height: 19px;
	font-style: normal;
	letter-spacing: 0.9px;
	line-height: 2;
	text-indent: 50px;
	padding-right: 50px
}


sup {
	font-size: 12.5px;
	line-height: 17.5px;
	color: red; 
	font-style: bold;
	text-align: center;
	border-bottom: 2px solid red;
	z-index: 99999;
}


.container {
	position: absolute;
	right: 50%;
	top: 300px;
	width: 600px;
	margin: -300px;
	line-height: 1.5;
	border: 5px;
}

.container img {
    width: 93%;
    height: auto;
    max-width: 100%;
    font-size: 10px;  
    float: center;
}

.container img{
  writing-mode: vertical-rl;
  text-orientation: sideways-right;
}



.nav {
    font-size: 20px;
    text-decoration: none;
    font-style: bold;
    width: 100%;
    left: 10px; 
    top: 5%; 
    position: fixed;
    display: none;
    text-align: left;
    color:red;
}


::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 1px black;
}

::-webkit-scrollbar-thumb {
  background-color: #FFFFD6;
  outline: 1px solid black;
}
::-moz-selection { 
    color: #FFFFD6;
    background: black;
}
::selection {
    color: #FFFFD6; 
    background: black;
}


.navclick {
	position: fixed;
	left: 10px;
	top: 8px;
	font-size: 14px;
	font-style: bold;
	letter-spacing: 2.0px;
	color: black;
	line-height: 1.0;
}

.navcover {
	position: fixed;
	left: 50px;
	height: 100%;
	background: white;
	display: none;
	font-size: 10px;
	font-style: bold;
}

.header {
	margin-top: 260px;
	height: 70px;
	text-align: center;
}

.header1 {
	margin-top: 200px;
	height: 10px;
	text-align: center;
}

.header2 {
	font-size: 15pt;
	letter-spacing: 1.3px;
	height: 100px;
	text-align: center;
}

.header3 {
	top: 10px;
	text-align: center;
	font-size: 10pt;
	line-height: 15px;
	height: 200px;
}


.header4 {
	position: relative;
	top: -540px;
	height: 500px;
	text-align: center;
    color: black;
    font-size: 11pt;
	font-weight: normal;
	display: none;
}


.mainsources {
	position: absolute;
	right: 120px;
	top: -5px;
	bottom: 0px;
	height: 3000px;
	width: 5%;
	font-size: 12.5px;
	line-height: 17px;
	text-indent: none;
	z-index: 99999;


/*    outline: #4DB8B8 dashed 1.5px; */
    padding: 70px;
}

.source {
        position:absolute;
        opacity: 0.0;
        color: red;
        text-indent: none;
        z-index: 99999;

}

.sources {
	font-size: 8pt;	
	line-height: 10pt;
	font-style: bold;
	text-indent: none;
	z-index: 99999;
}

.hideme {
	text-indent: 50px;
}

#content a{
  text-decoration:none;
  color:black;
  -webkit-transition: all 0.4s ease;
     -moz-transition: all 0.4s ease;
       -o-transition: all 0.4s ease;
      -ms-transition: all 0.4s ease;
          transition: all 0.4s ease;
}


img {
    max-width: 20%;
    height: 100%;
	width: 100%;
	margin-right: 50px;
}



span.highlight {
    background-color: white;
}






/*---------------------------FOR PHONES---------------------------------------*/






@media only screen and (max-width: 480px) {


body {
	font-size: 10pt;
	line-height: 16pt;
	font-family: Cabin;
	padding-left: 5px;
    padding-top: 5px;
    text-align: left;
}

.hideme {
	text-indent: 20px;
	text-align: left;
	padding-left: 20px;
	padding-right: 10px
}

.header {
	margin-top: -70px;
	height: 200px;
	text-align: center;
}

.container img {
    width: 100%;
    height: auto;
    max-width: 100%;
    font-size: 10px;
    float: left;
}

sup {
	font-size: 10px;
	color: red; 
	font-style: bold;
	text-align: left;
	z-index: 99999;
}

.container {
	position: absolute;
	right: 20%;
	width: 300px;
	margin-top: 5px;
	margin: -30px;
	line-height: 1.5;
	border: 5px;
}

.container img {
    width: 43%;
    height: auto;
    max-width: 100%;
    font-size: 7px;  
    float: center;
}


.mainsources {
	position: absolute;
	right: 20px;
	top: -5px;
	bottom: 0px;
	height: 3000px;
	width: 5%;
	font-size: 8px;
	line-height: 12px;
	text-indent: none;
	z-index: 99999;
}


.sources {
	font-size: 6pt;	
	font-style: bold;
	color: black;
	text-indent: none;
}


h5 {
	font-size: 12px;
}

.nav {
    z-index: 9999;
}


h1 {
	font-size: 25px;
	letter-spacing: 0.1px;
	color: black;
	line-height: 1.1;
	text-indent: 0px;
	text-align: center
}


h2 {
	font-size: 15px;
	font-style: normal;
	letter-spacing: 0.1px;
	color: black;
	text-indent: 20px;
	line-height: 1.0;
}


h3 {
	font-style: normal;
	font-size: 10pt;
	line-height: 14pt;
	letter-spacing: 0.1px;
	margin-left: 3.3em; 
	padding right: 40px;
 	text-align: left;
}

h4 {
	font-size: 9px;
	line-height: 14px;
	letter-spacing: 1px;
	text-align: left;
	text-indent: 20px;
}



 /* END media only screen and (max-width: 480px)




